# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Build
dist/
build/
sdist/

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Testing
.pytest_cache/
.coverage
htmlcov/
test_results/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# MyPy
.mypy_cache/
dmypy.json

.venv_test/
